# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Variáveis de ambiente
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Docker
docker-data/